<!-- File: base.html
Author: Jeffrey Zhou (jzhou25@bu.edu), 6/15/2025
Description: base html file to serve as template for all other pages -->

{% load static %}
<html>
    <head>
        <title>Voter Analytics</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Show Voter List</a></li>
                    <li><a href="{% url 'graphs' %}">Show Graphs</a></li>
                </ul>

            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>