<!-- templates/marathon_analytics/result_detail.html -->

{% extends 'voter_analytics/base.html' %}

{% block content %}
<div class="container">
    <h1>Showing Result for {{v}}</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Date of Birth</th>
            <th>Date of Registration</th>
            <th>Party Affiliation</th> 
            <th>Voter Score</th>
        </tr>
        
        <tr>
                <td>{{v}}</td>
                <td><a href="https://www.google.com/maps/search/{{ v.address_street_number }}+{{ v.address_street_name }}+{{ v.address_zip_code }}" target="_blank">
                    {{v.address}}</a>
                </td>
                <td>{{v.date_of_birth}}</td>
                <td>{{v.date_of_registration}}</td>
                <td>{{v.party_affiliation}}</td>
                <td>{{v.voter_score}}</td>
        </tr>

    </table>
</div>

{% endblock %}