<!-- File: base.html
Author: Jeffrey Zhou (jzhou25@bu.edu), 6/5/2025
Description: base html file to serve as template for all other pages -->

{% load static %}
<html>
    <head>
        <title>MiniFacebook</title>
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>
    <body>
        <header>
            <h1>MiniFaceboook</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'show_all_profiles'%}">Show All</a></li>
                    <li><a href="{% url 'create_profile'%}">Create Profile</a></li>
                    {% if request.user.is_authenticated %}
                    <li>
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Log Out">
                        </form>
                    </li>
                    {% else %}
                    <li><a href="{% url 'login'%}">Login</a></li>
                    {% endif %}
                </ul>
                <hr>
                    {% if request.user.is_authenticated %}
                    Logged in as: {{request.user}}
                    {% else %}
                    Not logged in.
                    {% endif %}
                </nav>
        </header>
    
    <!-- substitute specific content here -->
    {% block content %}
    {% endblock %}    
  
        <footer>
            <h3>MiniMeta&trade;</h3>
        </footer>
    </body>
</html>