<!-- File: create_profile_form.html
Author: Jeffrey Zhou (jzhou25@bu.edu), 6/5/2025
Description: create profile form page, extending the base.html file -->

{% extends 'mini_fb/base.html' %}

{% block content %}
<h1>Create a new Profile</h1>

<!-- display the HTML form -->
<form action="{% url 'create_profile' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <table>
            {% for field in user_form %}
                <tr>
                    <th>{{field.name}}</th>
                    <td>{{field}}</td>
                    <!-- <input type="file" name="files" multiple /> -->
                </tr>
            {% endfor %}
        </table>
        <table>
            {% for field in form %}
                <tr>
                    <th>{{field.name}}</th>
                    <td>{{field}}</td>
                    <!-- <input type="file" name="files" multiple /> -->
                </tr>
            {% endfor %}
        </table>

    <input type="submit" name="submit" value="Submit">
</form>

{% endblock %}